PROJECT_ID
SUPABASE_ANON_KEY
SUPABASE_PUBLISHABLE_KEY
SUPABASE_SERVICE_ROLE_KEY
SUPABASE_TABLE_DEPOSITS
SUPABASE_TABLE_EARNINGS_HISTORY
SUPABASE_TABLE_PROFILES
SUPABASE_TABLE_REFERRALS
SUPABASE_TABLE_USER_BALANCES
SUPABASE_TABLE_USER_PURCHASES
SUPABASE_TABLE_USER_ROLES
SUPABASE_TABLE_WITHDRAWALS
SUPABASE_URL
VITE_SUPABASE_PROJECT_ID
VITE_SUPABASE_PUBLISHABLE_KEY
VITE_SUPABASE_URL
